@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 43 100% 50%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 4%;

    --primary: 41 100% 50%;
    --primary-foreground: 0 0% 97.25%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 9%;

    --muted: 210 40% 96%;
    --muted-foreground: 200 5.88% 50%;

    --accent: 0 0% 88%;
    --accent-foreground: 0 0% 9%;

    --destructive: 41 100% 60.39%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 4%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
